@inherits Umbraco.Web.Macros.PartialViewMacroPage
<H1>
    Paul William Walker IV (September 12, 1973 – November 30, 2013) was an American actor. He is best known for his role as Brian O'Conner in the Fast & Furious franchise. Walker began his career as a child actor during the 1970s and 1980s, gaining recognition in the early 1990s after appearing in the television soap opera The Young and the Restless;
</H1>